<div class="row">
    <div class="container-fluid">
        <div>
            <div class="list-group">
              <a routerLink="/youtube" class="list-group-item">Youtube</a>              
              <a routerLink="/user" class="list-group-item">User</a>
              <!-- <a routerLink="/linkedin/2" class="list-group-item">LinkedIn</a> -->
              <a routerLink="/udemy/1" class="list-group-item">Udemy</a>
              <a routerLink="/udemy/2" class="list-group-item">Udemy</a>
            </div>
        </div>
    </div>
</div>

