<div class="row">
    <div class="col-xs-6">
        <form (ngSubmit)="onAdd(f)" #f="ngForm" >
          <div class="form-group">
            <label>ID:</label>
            <input type="number" class="form-control" 
            name="id" 
            ngModel 
            required 
            pattern="^[1-9]+[0-9]*$"            
            #id="ngModel">
            <span calss="help-block" *ngIf="!id.valid && id.touched">ID is Required</span>          
          </div>
          <div class="form-group">
            <label>State Name:</label>
            <input type="text" class="form-control" 
            name="statename" 
            ngModel 
            required
            #name="ngModel">  
            <span calss="help-block" *ngIf="!name.valid && name.touched">Name is Required</span>            
          </div>        
          <button class="btn btn-primary" type="submit"
          [disabled]="!f.valid">ADD State</button>          
        </form>
    </div>
  </div>
